* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #eaeaea;
}

.resume {
    display: flex;
    min-height: 100vh;
}


/* LEFT */

.left {
    width: 35%;
    background: #0f2c33;
    color: white;
    padding: 40px;
}

.contact p {
    color: orange;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
}

.left h3 {
    margin-top: 30px;
    border-bottom: 2px solid orange;
    display: inline-block;
    padding-bottom: 5px;
}

.text {
    margin-top: 10px;
    font-size: 14px;
    color: #ddd;
}

.block {
    margin-top: 15px;
}

.block span {
    color: orange;
    font-size: 13px;
}


/* CENTER */

.center {
    width: 30%;
    background: #0f2c33;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hexagon {
    width: 220px;
    height: 240px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    border: 6px solid orange;
    overflow: hidden;
}

.hexagon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* RIGHT */

.right {
    width: 35%;
    background: white;
    padding: 50px;
}

.right h1 span {
    color: orange;
}

.section-title {
    margin-top: 30px;
    border-bottom: 2px solid orange;
    display: inline-block;
    padding-bottom: 5px;
}


/* SKILLS */

.skill {
    margin-top: 15px;
}

.bar {
    width: 100%;
    height: 6px;
    background: #ddd;
    margin-top: 5px;
    position: relative;
}

.bar::after {
    content: '';
    height: 6px;
    width: 0;
    background: orange;
    position: absolute;
    left: 0;
    top: 0;
    transition: width 1.5s ease;
}


/* FADE */

.fade {
    opacity: 0;
    transition: opacity 1s ease;
}